.catalog {
  background-color: #343c48;
  padding: 0 2rem;
}

.grid {
  max-width: 1400px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.catalog .searchContainer {
  background-color: #343c48;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.catalog .searchContainer input {
  margin-right: 0.3rem;
  padding: 0.6rem;
  min-width: 6rem;
  width: 100%;
  max-width: 300px;
  outline: none;
  border-radius: 5px;
  border: none;
}
.catalog .searchContainer input:focus {
  outline: 2px solid #1ee4a8;
}

.catalog .searchContainer button {
  border: none;
  padding: 0.6rem;
  border-radius: 5px;
  color: white;
  background-color: #5e6875;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.catalog .searchContainer button:hover {
  background-color: #a0a9b5;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin: 0 auto;
  color: white;
  font-size: 0.9rem;
}

.notFound p {
  margin-bottom: 0.7rem;
}
