.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  background-color: #2b323d;
  display: flex;
  flex-direction: column;
  min-height: 420px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.866) 0px 30px 90px;
  border-radius: 5px;
}

.modal .img {
  width: 100%;
  max-height: inherit;
  border-radius: 5px;
}

.modal .img img {
  width: 100%;
  height: inherit;
  border-radius: 5px;
}

.modal .info .icons {
  display: flex;
}

.modal .info {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
}

.modal .info .overview {
  overflow-y: auto;
  font-size: 0.8rem;
  height: 100px;
}

.modal .info .icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.7rem;
}
.modal .info .icons p svg {
  margin-right: 0.4rem;
}

.closeBtn {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: #2b323d;
  background-color: #1ee4a8;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 5px;
  transition: opacity 300ms ease 0s, background-color 300ms ease 0s;
}

.closeBtn:hover {
  background-color: #84ffda;
}

@media (min-width: 700px) {
  .modal {
    flex-direction: row;
    max-width: 650px;
    width: 100%;
  }

  .modal .info {
    width: 100%;
    position: relative;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 1rem 2rem;
    background: none;
  }

  .modal .info .icons p {
    color: white;
  }

  .modal .info p {
    color: #b5b5b5;
    font-size: 0.9rem;
  }

  .modal .info .icons svg {
    font-size: 0.9rem;
  }

  .modal .info h2 {
    font-size: 2.4rem;
  }

  .modal .img {
    width: 600px;
  }

  .modal .img img {
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .modal .info .overview {
    overflow-y: auto;
    font-size: 0.8rem;
    height: fit-content;
    padding-top: 0.4rem;
    border-top: 1px #1ee4a8 solid;
  }

  .closeBtn {
    position: absolute;
    bottom: 1rem;
    right: 0;
    left: 0;
  }
}
