.filtersContainer {
  background-color: #343c48;
}

.filters {
  padding: 2rem;
  row-gap: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.select {
  z-index: 2;
  color: #343c48;
}

/* .filters select {
  padding: 0.6rem 2rem 0.6rem 0.2rem;
  outline: none;
  width: 200px;
  border-radius: 5px;
  font-size: 1rem;
  color: rgb(121, 121, 121);
} */

@media (min-width: 820px) {
  .filters {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
  }
}
